.header {
    height: var(--header-homepage-height);
    position: relative;
    padding: 0 30px;
}

.header-container.row {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.header-logo {
    max-width: 90px;
    aspect-ratio: 5/3;
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.header-nav {
    display: flex;
    margin-right: 16px;
}

.nav-item {
    height: var(--header-homepage-height);
    line-height: var(--header-homepage-height);
    position: relative;
}

.nav-item::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: #4f9a10;
    transition: width 0.2s ease;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item-plus .icon {
    display: none;
}

.nav-item a {
    font-weight: 500;
    letter-spacing: 1px;
    color: #4F4F4F;
    padding: 0 6px;
    text-transform: uppercase;
}

.nav-item:hover > a{
    color: var(--text-color);
}

.header-tool {
    display: flex;
    align-items: center;
}

.header-tool .phone {
    margin-right: 16px;
}

.header-tool .phone .icon {
    font-size: 1.3rem;
}

.header-tool .advise {
    margin-right: 16px;
    font-family: var(--font);
}

.header-tool .gift .icon{
    font-size: 2.8rem;
    color: var(--button-color)
}

.nav-item.active     {
    position: relative;
    display: flex;
    flex-direction: column;
}

.nav-item.active:hover .sub-list {
    transform: translateX(-20px);
    opacity: 1;
    visibility: visible;
}

.sub-list {
    pointer-events: none;
    visibility: none;
    position: absolute;
    top: var(--header-homepage-height);
    left: 20px;
    min-width: 270px;
    background-color: #f6f6f6;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    z-index: 1;
}

.sub-nav-item {
    padding: 10px 20px;
    line-height: 1.6;
    text-transform: uppercase;
}

.sub-nav-item:hover {
    cursor: pointer;
}

.sub-nav-item a {
    font-size: 1.5rem;
    color: #6d6d6d;
    transition: color 0.3s ease;
}

.sub-nav-item a:hover {
    color: var(--button-color);
}

.header-tool-icon .icon {
    display: none;
}

@media (max-width: 739px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        height: 100%;
        padding: 0 10px;
    }

    .button {
        font-size: 1.3rem;
    }

    .header {
        height: 60px;
        position: relative;
    }

    .header-container.row {
        width: 100%;
        padding: 0 10px;
    }

    .header-logo {
        margin-left: 10px;
        max-width: 66px;
        aspect-ratio: 5/3;
    }

    .header-nav {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: transform 0.2s ease;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: var(--modal-color);
        padding: 50px 35px 85px;
        z-index: 1;
    }

    .nav-item {
        font-size: 1.3rem;
        border-bottom: 1px solid #edecec;
        line-height: 1.5;
        height: auto;
        padding: 10px 0;
    }

    .header-nav>.nav-item:last-child {
        border: none;
    }

    .nav-item-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item.active:hover .nav-item-wrap>a {
        color: var(--primary-color);
    }

    .nav-item a {
        font-family: var(--font-bold);
        color: #5d5d5d;
    }

    .nav-item-plus .icon {
        display: block;
        float: right;
    }


    .nav-item-plus>.icon {
        transition: transform 0.2s ease;
    }

    .nav-item.active:hover .nav-item-wrap .nav-item-plus .icon {
        color: var(--primary-color);
        transform: rotate(45deg);
    }

    .nav-item::after {
        display: none;
    }

    .nav-item.active {
        overflow: hidden;
    }

    .nav-item.active {
        cursor: pointer;
    }

    .sub-list {
        visibility: visible;
        opacity: 1;
        position: relative;
        top: 0;
        left: 0;
        padding-left: 10px;
        height: 0;
        transition: height 0.2s ease;
    }

    .sub-list:hover .nav-item-wrap>a,
    .sub-list:hover .nav-item-plus>.icon {
        color: var(--primary-color);
    }

    .sub-list:hover .nav-item-plus>.icon {
        transform: rotate(45deg);
    }

    .sub-nav-item {
        padding: 0;
        margin-top: 10px;
    }

    .sub-nav-item>a {
        font-size: 1.3rem;
        font-family: var(--font);
    }

    .header-tool-icon {
        display: block;
        order: 3;
    }

    .header-tool-icon .icon {
        display: block;
        font-size: 3rem;
        padding: 10px;
    }

    .header-tool-icon:hover .icon {
        color: #106490;
        cursor: pointer;
    }

    #toggle-sub-list:checked~.header-nav {
        transform: translateX(0);
    }

    .header-tool .advise {
        display: none;
    }

    .nav-item.active:hover .sub-list {
        transform: translateX(0);
        height: 310px;
        margin-top: 10px;
    }

    .header-nav-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .header-nav-close:hover {
        color: #106490;
        cursor: pointer;
    }

    .header-nav-close>i {
        font-size: 3rem;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        height: 100%;
        padding: 0 30px;
    }
    
    .header {
        min-height: 60px;
        padding: 0 30px;
    }

    .header .content .container {
        padding: 0;
    }
    
    .header-container.row  {
        width: 100%;
        flex-direction: row;
    }

    .header-nav > .nav-item {
        line-height: 60px;
        height: 60px;
    }

    .header-nav > .nav-item a {
        font-size: 1rem;
        color: #4F4F4F;
    }

    .header-tool .phone i {
        display: none;
    }

    .btn {
        font-size: 1.1rem;
        padding: 3px 6px;
        margin-top: 5px;
        margin-right: 5px;
    }

    .header-tool .gift .icon{
        font-size: 2.2rem;
    }

}

@media (min-width: 1024px) and (max-width: 1113px) {
    .header-tool .phone.btn,
    .header-tool .advise.btn {
        font-size: 1.1rem;
        padding: 0 15px;
    }

    .header-tool .phone.btn i {
        display: none;
    }

    .nav-item {
        font-size: 1rem;
    }

    .header-tool .gift .icon {
        font-size: 1.8rem;
    }

    .header-logo  {
        width: 67px;
    }
}