.introduce-banner {
    height: 170px;
    position: relative;
}

.introduce-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/images/default.jpg) no-repeat center / cover;
    filter: brightness(90%);
}

.introduce-banner-title {
    font-size: 3rem;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.introduce-about {
    padding-top: 20px;
}

.introduce-about-container {
    width: 1170px;
    margin: 0 auto;
}

.introduce-about-title {
    font-size: 3rem;
    color: #465964;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
    max-width: 142px;
}

.introduce-about-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #34A84F;
    width: 100%;
    height: 2px;
}

.introduce-about-desc {
    color: #7a7a7a;
    letter-spacing: 0.5px;
    margin: 10px 0;
    text-align: left;
}

.introduce-about-desc a{
    color: #5ea329;
}

.introduce-about em {
    display: block;
    font-style: italic;
}

.introduce-about strong {
    font-style:initial;
    color: #7a7a7a;
    font-family: var(--font-bold);
}

.introduce-about-btn {
    width: 90%;
    background-color: #34a853;
    padding: 8px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all .3s;
    margin-bottom: 20px;
}

.introduce-about-btn:hover {
    background-color: #ffaa01;
    cursor: pointer;
}

.introduce-about-btn span {
    font-size: 1.3rem;
    color: var(--white);
    font-family: var(--font-bold);
    flex: 1;
}

.introduce-about-btn i {
    position: relative;
    top: 2px;
    color: var(--white);
}


.introduce-about-wrap.col {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.introduce-about-img {
    width: 510px;
    aspect-ratio: 1/1;
    margin-top: 110px;
}

.introduce-about-img > img{
    width: 100%;
    height: 100%;
}






.introduce-service {
    padding-top: 20px;
}

.introduce-service-container {
    width: 1170px;
    margin: 0 auto;
}

.introduce-service-title {
    font-size: 3rem;
    color: #465964;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
    max-width: 300px;
}

.introduce-service-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #34A84F;
    width: 45%;
    height: 2px;
}

.introduce-service-desc {
    color: #7a7a7a;
    letter-spacing: 0.5px;
    margin: 10px 0;
    text-align: left;
}

.introduce-service-desc a{
    color: #5ea329;
}

.introduce-service em {
    display: block;
    font-style: italic; 
}

.introduce-service strong {
    font-style:initial;
    color: #7a7a7a;
    font-family: var(--font-bold);
}

.introduce-service-btn {
    width: 90%;
    background-color: #34a853;
    padding: 8px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all .3s;
    margin-bottom: 20px;
}

.introduce-service-btn:hover {
    background-color: #ffaa01;
    cursor: pointer;
}

.introduce-service-btn span {
    font-size: 1.3rem;
    color: var(--white);
    font-family: var(--font-bold);
    flex: 1;
}

.introduce-service-btn i {
    position: relative;
    top: 2px;
    color: var(--white);
}


.introduce-service-wrap.col {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.introduce-service-img {
    width: 510px;
    aspect-ratio: 5/4;
    margin-top: 30px;
    align-self: center;
}

.introduce-service-img > img{
    width: 100%;
    height: 100%;
}

.introduce-service-wrap-list {
    list-style: inside;
}

.introduce-service-wrap-list > .item-list {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    color: #7A7A7A;
    font-family: var(--font-bold);
}



.introduce-experience {
    padding-top: 20px;
}

.introduce-experience-container {
    width: 1170px;
    margin: 0 auto;
}

.introduce-experience-title {
    font-size: 3rem;
    color: #465964;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
    max-width: 300px;
}

.introduce-experience-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #34A84F;
    width: 45%;
    height: 2px;
}

.introduce-experience-desc {
    color: #7a7a7a;
    letter-spacing: 0.5px;
    margin: 10px 0;
    text-align: left;
}

.introduce-experience-desc a{
    color: #5ea329;
}

.introduce-experience em {
    display: block;
    font-style: italic; 
}

.introduce-experience strong {
    font-style:initial;
    color: #7a7a7a;
    font-family: var(--font-bold);
}

.introduce-experience-btn {
    width: 90%;
    background-color: #34a853;
    padding: 8px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all .3s;
    margin-bottom: 20px;
}

.introduce-experience-btn:hover {
    background-color: #ffaa01;
    cursor: pointer;
}

.introduce-experience-btn span {
    font-size: 1.3rem;
    color: var(--white);
    font-family: var(--font-bold);
    flex: 1;
}

.introduce-experience-btn i {
    position: relative;
    top: 2px;
    color: var(--white);
}


.introduce-experience-wrap.col {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.introduce-experience-img {
    width: 510px;
    aspect-ratio: 5/4;
    align-self: center;
}

.introduce-experience-img > img{
    width: 100%;
    height: 100%;
}

.introduce-experience-wrap-list > .item-list {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    color: #7A7A7A;
    margin-bottom: 10px;
}

.introduce-experience-wrap-list > .item-list > span {
    display: block;
    margin-bottom: 5px;
}

.introduce-experience-wrap-list .item-list-progress {
    height: 10px;
    border-radius: 1px;
    overflow: hidden;
    position: relative;
    background-color: #ededed;
}

.introduce-experience-wrap-list .item-list-progress::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #34a853;

}

.item-list-progress.software::before {
    width: 90%;
}

.item-list-progress.cloud::before {
    width: 90%;
}

.item-list-progress.marketing::before {
    width: 90%;
}

.item-list-progress.solution::before {
    width: 80%;
}



.introduce-statistical {
    padding-top: 20px;
}

.introduce-statistical-container {
    width: 1170px;
    margin: 0 auto;
}

.introduce-statistical-title {
    font-size: 3rem;
    color: #465964;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
    max-width: 400px;
}

.introduce-statistical-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #34A84F;
    width: 45%;
    height: 2px;
}

.introduce-statistical-desc {
    color: #7a7a7a;
    letter-spacing: 0.5px;
    margin: 10px 0;
    text-align: left;
}

.introduce-statistical-desc a{
    color: #5ea329;
}

.introduce-statistical em {
    display: block;
    font-style: italic; 
}

.introduce-statistical-btn {
    width: 90%;
    background-color: #34a853;
    padding: 8px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all .3s;
    margin-bottom: 20px;
}

.introduce-statistical-btn:hover {
    background-color: #ffaa01;
    cursor: pointer;
}

.introduce-statistical-btn span {
    font-size: 1.3rem;
    color: var(--white);
    font-family: var(--font-bold);
    flex: 1;
}

.introduce-statistical-btn i {
    position: relative;
    top: 2px;
    color: var(--white);
}


.introduce-statistical-wrap.col {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.introduce-statistical-img {
    width: 510px;
    aspect-ratio: 5/4;
    margin-top: 30px;
    align-self: center;
}

.introduce-statistical-img > img{
    width: 100%;
    height: 100%;
}

.introduce-statistical-wrap-list > .item-list {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    color: #7A7A7A;
    font-family: var(--font-bold);
    padding: 20px;
}

.introduce-statistical-wrap-list > .col > .item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px 20px 0;
}

.introduce-statistical-wrap-list .item-list > .icon > i {
    color: #34a853;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.introduce-statistical-wrap-list > .col > .item-list > h3 {
    font-size: 3.4rem;
    font-family: var(--font-bold);
    color: var(--black);
}

.introduce-statistical-wrap-list > .col > .item-list > p {
    text-wrap: wrap;
    text-align: center;
}